* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: whitesmoke;
}
/* Inicio Header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #293949;
  margin: 15px;
  border-radius: 1em;
  border: solid 8px #be9857;
}
.logo{
  justify-self: end;
  margin-left: 10px;
  margin: 2em 0em 1em 0em;
  padding: 1em;
}
.cabecera{
  justify-self: start;
  font-size: 25px;
  margin-top: 1.6em;
  padding: 1em;
  color: #be9857;
}
h3{
  color: whitesmoke;
}
/* Fin header */
/* Inicio Main */
main{
  padding: 2em;
}
/* Primer paso */
.tab-content .tab-pane {
  display: none;
  margin: 3em;
  padding: 1em;
}
.tab-content .tab-pane:first-child {
  display: block;
}
.tab-list li{
  display: inline-block;
}
.tab-list li a{
  background-color: #293949;
  border: solid 3px #be9857;
  border-radius: 1em;
  padding: 1em;
  text-decoration: none;
  color: whitesmoke;
}
.tab-pane{
  background-color: #293949;
  border: dashed 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 0 8px #293949, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
}
.tab-link:focus{
  background-color: #be9857;
  border: solid 3px #415a74;
  border-radius: 1em;
  color: black;
}
h2{
  text-decoration:underline;
  margin: 1em;
}
.subida {
  background-color: whitesmoke;
  border: solid 5px #be9857;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  height: 100px;
  width: 90%;
  font-size: x-large;
}
.subida::placeholder{
  font-size: x-large;
  color:#293949;
}
.subir-archivo {
  position: relative;
  display: absolute;
  width: 35%;
  height: 60%;
  left: 25px;
}
.subir-archivo::before{
  background-color: whitesmoke;
  color: black;
  border: solid 4px #be9857;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.subir-archivo input[type="file"]{
  opacity: 0;
  width: 300px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
.pdf::before{
  content: 'Seleccionar archivo pdf';
}
.audio::before{
  content: 'Seleccionar archivo de audio';
}
.loc {
  display: flex;
  align-content: center;
}
.parrafos {
  font-size: large;
}
.subida-loc {
  background-color: whitesmoke;
  border: solid 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  margin: 5em;
  height: 4em;
  width: max-content;
}
.datos {
  display: block;
  padding: 10px;
  margin: 10px;
}
.datos input {
  margin: 1em;
  width: 90%;
  height: 50px;
}
.nombre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}
.primero {
  position: absolute;
  text-indent: 18px;
}
.a .n {
  display: inline-block;
}
label {
  font-size: 120%;
}
.datos select {
  margin: 1em;
  width: 90%;
  height: 60px;
}
.info-personal {
  font-size: 120%;
  border: solid 4px #be9857;
  border-radius: .5em;
  padding: .5em;
}
/* funcionamiento de paginas */
.form-page2 {
  display: none;
}
.form-page2:first-child {
  display: block;
}
/* Botones */
#siguiente2 {
  font-family: inherit;
  font-size: 20px;
  background: whitesmoke;
  color: #be9857;
  padding: 0.7em 1.4em;
  padding-left:1em;
  display: flex;
  align-items: center;
  border: solid 4px #be9857 ;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 1.5em;
}
#siguiente2 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
#siguiente2:hover span {
  transform: translateX(5.5em);
}
#siguiente2:active {
  transform: scale(0.95);
}
#anterior2 {
  font-family: inherit;
  font-size: 20px;
  background: whitesmoke;
  color: #be9857;
  padding: 0.7em 1.5em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  border: solid 4px #be9857 ;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 1.5em;
}
#anterior2 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  padding-right: 0.2em;
}
#anterior2:hover span {
  transform: translateX(-5.1em);
}
#anterior2:active {
  transform: scale(0.95);
}
/* fin botones */
/* Fin primer paso */
/* Segundo paso */
.color{
  background-color: #293949;
  border: dashed 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 0 8px #293949, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
  color: whitesmoke;
}
#color{
  border: solid 3px; 
  border-radius: 1em;
  height: 80px;
  width: 600px;
}
/* Fin de segundo paso */
/* Tercer paso */
.subir-img{
  background-color: #293949;
  border: dashed 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 0 8px #293949, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
  color: whitesmoke;
}
.subir-logo {
  position: relative;
  display: absolute;
  width: 35%;
  height: 60%;
  left: 25px;
}
.subir-logo::before{
  background-color: whitesmoke;
  color: black;
  border: solid 4px #be9857;
  content: 'Seleccionar archivo para el logotipo';
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.subir-logo input[type="file"]{
  opacity: 0;
  width: 300px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
/* Fin tercer paso */
/* Cuarto paso */
.descarga{
  background-color: #293949;
  border: dashed 4px #be9857;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0 0 8px #293949, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: .4s ease-in-out;
  color: whitesmoke;
}
.boton-descarga{
  text-align: center;
}
.descarga1 {
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 3px whitesmoke;
  border-radius: 1em;
  text-align: center;
  width: 40%;
  font-size: 17px;
  cursor: pointer;
}
.descarga2 {
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 3px whitesmoke;
  border-radius: 1em;
  text-align: center;
  width: 40%;
  font-size: 17px;
  cursor: pointer;
}
button:hover{
  background-color: #b67300;
  color: rgb(189, 189, 189);
  border: solid 3px rgb(189, 189, 189);
  border-radius: 1em;
}
#cerrarVentanaEmergente{
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 3px whitesmoke;
  border-radius: 1em;
  text-align: center;
  width: 40%;
  font-size: 17px;
  cursor: pointer;
}
#cerrarVentanaEmergente2{
  background-color: #be9857;
  color: whitesmoke;
  padding: 1em;
  margin: 1em;
  border: solid 3px whitesmoke;
  border-radius: 1em;
  text-align: center;
  width: 40%;
  font-size: 17px;
  cursor: pointer;
}
#cerrarVentanaEmergente:hover{
  background-color: #b67300;
  color: rgb(189, 189, 189);
  border: solid 3px rgb(189, 189, 189);
  border-radius: 1em;
}
#cerrarVentanaEmergente2:hover{
  background-color: #b67300;
  color: rgb(189, 189, 189);
  border: solid 3px rgb(189, 189, 189);
  border-radius: 1em;
}
#ventanaEmergente {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#contenidoVentanaEmergente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #293949;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#ventanaEmergente2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#contenidoVentanaEmergente2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #293949;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.oculto {
  display: none;
}
/* Fin cuarto paso */
/* funcionamiento de paginas */
.form-page {
  display: none;
}
.form-page.active {
  display: block;
}
/* Botones */
#siguiente {
  font-family: inherit;
  font-size: 20px;
  background: #293949;
  color: #be9857;
  padding: 0.7em 1.4em;
  padding-left:1em;
  display: flex;
  align-items: center;
  border: solid 4px #be9857 ;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 1.5em;
}
#siguiente span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.emote {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
#siguiente:hover span {
  transform: translateX(5.5em);
}
#siguiente:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
#anterior {
  font-family: inherit;
  font-size: 20px;
  background: #293949;
  color: #be9857;
  padding: 0.7em 1.5em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  border: solid 4px #be9857 ;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 1.5em;
}
#anterior span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  padding-right: 0.2em;
}
#anterior:hover span {
  transform: translateX(-5.1em);
}
#anterior:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.botones{
  display: flex;
  margin: 1em;
  justify-content: center;
}
/* fin botones */
/* Fin Main */
/* Inicio Footer */
footer{
  background-color: #293949;
  border: solid 4px #be9857;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 10px;
  row-gap: 1px;
  margin: 15px;
}
.logo-footer{
  justify-self: end;
}
.p-footer{
  color: White;
  position: relative;
  top: 15px;
}
/* Fin del footer */
